$white:       #fff;
$black:       #000;

$beige:       #f1eee9;
$teal:        #30808e;
$teal-light:  #88c3cd;
$pink:        #db3b69;
$aqua:       #38ad93;

$gray:          #333;
$gray-light:    lighten($gray, 50%);
$gray-lightest: lighten($gray, 75%);
$gray-dark:     darken($gray, 25%);
