$font-serif: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, serif;
$font-sans: "open-sans-1","open-sans-2", Helvetica, Arial, sans-serif;

$base-font-size: 1rem;
$base-line-height: 1.5;

$type-scale: 1.2;

$type-grow-1: $base-font-size * $type-scale;
$type-grow-2: $type-grow-1 * $type-scale;
$type-grow-3: $type-grow-2 * $type-scale;
$type-grow-4: $type-grow-3 * $type-scale;
$type-grow-5: $type-grow-4 * $type-scale;
$type-grow-6: $type-grow-5 * $type-scale;
$type-shrink-1: $base-font-size / $type-scale;
$type-shrink-2: $type-shrink-1 / $type-scale;
$type-shrink-3: $type-shrink-2 / $type-scale;
