<footer id="global-footer" role="contentinfo">
  <ul class="social-links">
    <li>
      <a href="http://github.com/jessabean">
        <span class="visually-hidden">Github</span>
        <svg class="icon icon-social">
          <use xlink:href="#icon-github"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/jessabean">
        <span class="visually-hidden">Twitter</span>
        <svg class="icon icon-social">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/jeldredge">
        <span class="visually-hidden">LinkedIn</span>
        <svg class="icon icon-social">
          <use xlink:href="#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="http://dribbble.com/jessabean">
        <span class="visually-hidden">Dribbble</span>
        <svg class="icon icon-social">
          <use xlink:href="#icon-dribbble"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="mailto:jessica@eldredge.io">
        <span class="visually-hidden">Email</span>
        <svg class="icon icon-social">
          <use xlink:href="#icon-mail"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>
