<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '506b774ff5a1f5736a000043');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<!-- build:js(app) /js/script.js -->
<script src="/_bower_components/jquery/jquery.min.js"></script>
<script src="/_bower_components/prismjs/prism.js"></script>
<script src="/_bower_components/prismjs/components/prism-bash.min.js"></script>
<script src="/_bower_components/prismjs/components/prism-css.min.js"></script>
<script src="/_bower_components/prismjs/components/prism-javascript.min.js"></script>
<script src="/_bower_components/prismjs/components/prism-markup.min.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
