@mixin h1() {
  font-family: $font-serif;
  font-size: 36px;
  font-weight: normal;
}

@mixin h2() {
  font-family: $font-sans;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin h3() {
  font-family: $font-sans;
  font-size: 20px;
  font-weight: bold;
}

@mixin h4() {
  font-family: $font-sans;
  font-size: 18px;
  font-weight: bold;
}
