#global-footer {
  padding: 25px 50px;
}

.social-links {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    @include min-width($breakpoint-md) {
      margin-right: 25px;
    }
  }

  a {
    display: block;
  }

  a:hover {
    border: none;
  }
}
