#global-footer {
  padding: 25px 50px;
}

.social-links {
  @extend %unstyled-list;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(phone-lg) {
      margin-right: 15px;
    }
  }

  a:after,
  a:hover:after {
    display: none;
  }
}
