.posts-list {
  > li {
    margin-bottom: 40px;
  }
  h1,
  p {
    margin-bottom: 0;
  }
  .post-meta {
    color: $gray-light;
  }
}

.post-footer {
  border-top: 1px solid $gray-lightest;
  color: $gray-light;
  font-family: $font-sans;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  .post-date {
    display: block;
    font-family: $font-serif;
    font-size: $base-font-size;
    margin-bottom: 10px;
    text-transform: none;
  }
}

.tags-list {
  display: inline-block;
  margin-left: 10px;
  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.post-img {
  display: block;
  margin: 32px 0;
  @include breakpoint(tablet-sm) {
    max-width: 100%;
    margin: 20px auto;
  }
}
