.icon {
  width: 48px;
  height: 48px;

  @include breakpoint(phone-lg) {
    width: 32px;
    height: 32px;
  }
}

.icon-social {
  fill: $pink;
  transition: all 0.3s ease-in-out;

  &:hover {
    fill: $teal;
  }
}
