.masthead {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;

  h1 {
    font-family: $sans;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-size: 28px;
  }
}
