.masthead {
  max-width: $content-width;
  margin: 0 auto;
  padding: 40px 0;

  h1 {
    font-family: $font-sans;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 24px;
  }
}
