$nav-padding: calc((100% - 90%) / 2);

.global-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $pink;
  padding: 0 $nav-padding;

  @include min-width($breakpoint-md) {
    $nav-padding: calc((100% - #{$content-width}) / 2);
    padding: 0 $nav-padding;
  }
}

.global-nav__brand {
  font-family: $font-sans;
  font-weight: bold;
  font-size: 18px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $white;
  }
}

.global-nav__list {
  display: flex;
  justify-content: flex-end;
  a {
    color: $white;
  }
}

.global-nav__item {
  margin: 0 10px;

  a {
    display: block;
    padding: 10px 0;

    &:hover {
      border-bottom: none;
    }
  }
}
