// Breakpoints
$phone-min-width:   360px;  // phone-sm
$phone-max-width:   480px;  // phone-lg
$tablet-min-width:  760px;  // tablet-sm
$tablet-half-width: 600px;
$tablet-max-width:  1024px; // tablet-lg
$desktop-sm-width:  1280px; // desktop-sm
$desktop-lg-width:  1680px; // desktop-lg

@mixin breakpoint($point) {
  @if $point == phone-sm {
    @media (max-width: $phone-min-width) { @content; }
  }
  @else if $point == phone-lg {
    @media (max-width: $phone-max-width) { @content; }
  }
  @else if $point == tablet-sm {
    @media (max-width: $tablet-min-width) { @content; }
  }
  @else if $point == tablet-half {
    @media (max-width: $tablet-half-width) { @content; }
  }
  @else if $point == tablet-lg {
    @media (max-width: $tablet-max-width) { @content; }
  }
  @else if $point == desktop-sm {
    @media (max-width: $desktop-sm-width) { @content; }
  }
  @else if $point == desktop-lg {
    @media (max-width: $desktop-lg-width)  { @content; }
  }
}