@import "util/normalize";

@import "dependencies/variables";
@import "dependencies/helpers";
@import "dependencies/responsive";

@import "base/layout";
@import "base/typography";
@import "base/base";

@import "components/project";

.home__header {
  padding-top: 30px;
  padding-right: calc((100% - #{$content-width}) / 2);
  padding-bottom: 30px;
  padding-left: calc((100% - #{$content-width}) / 2);
  text-align: center;
  background: url(/img/bg.jpg);
  color: #fff;
  
  h1,
  h2 {
    margin-top: 0;
  }

  h1 {
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  h2 {
    border: none;
    line-height: 1;
    margin-bottom: 0;
  }
}

.page-region {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-width {
  @include breakpoint(tablet-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  padding-left: $content-padding;
  padding-right: $content-padding;
}

.call-out {
  color: #fff;
  background: $pink;
  padding: 20px;

  h2 {
    color: #fff;
    border: none;
    text-align: center;
  }

  a {
  }
}
