@import "util/normalize";

@import "settings/settings";

@import "tools/tools";

@import "base/layout";
@import "base/typography";
@import "base/base";

@import "objects/objects";

@import "components/nav";
@import "components/icon";

$resume-gray-light: #f3f3f3;
$resume-gray-med: #ddd;

.resume {
  display: grid;
  grid-template-columns: [edge-start] minmax(1em, 1fr) [content-start] minmax(0, 42em) [content-end] minmax(1em, 1fr) [edge-end];
  background: $resume-gray-light;
}

.resume .global-nav {
  grid-column: edge;
}

.resume main {
  padding: 0;
}

// =============================
//  Summary header
// =============================
.resume__header {
  grid-column: edge;
  padding: 40px 0;
  position: relative;
  background: $white;

  h1 {
    grid-column: span 6;
    margin: 0;
    line-height: 1;

    @include min-width($breakpoint-md) {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }

  h2 {
    grid-column: span 6;
    margin: 0;
    font-weight: normal;
    border: none;

    @include min-width($breakpoint-md) {
      grid-column: 1 / span 4;
      grid-row: 2;
      padding-top: 0.5em;
    }
  }

  .email {
    grid-column: span 6;

    @include min-width($breakpoint-md) {
      grid-column: 5 / span 2;
      grid-row: 2;
      justify-self: end;
      align-self: center;
      padding-top: 0.5em;
    }
  }

  .print {
    grid-column: span 6;
    grid-row: 5;

    @include min-width($breakpoint-md) {
      grid-column: 5 / span 2;
      grid-row: 1;
      justify-self: end;
    }
  }

  .btn-print {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    background: $aqua;
    color: #fff;
    transition: all 0.2s ease;

    &:after {
      display: none;
    }

    &:hover {
      background: $pink;
    }
  }
}

.resume__header-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.resume__summary {
  grid-column: span 6;
  padding-top: 0.5em;
}

.resume__body,
.resume__footer {
  grid-column: content;
}

// =============================
// Resume sections
// =============================
.resume-section__title {
  @include h1();
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  text-transform: none;
  text-align: center;
}

// =============================
// Resume entries
// =============================
.resume-entry {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem;
  background: $white;
  box-shadow: 0 2px 3px $resume-gray-med;
}

.resume-entry + .resume-entry {
  border-top: 1px solid $resume-gray-med;
  padding-top: 1em;

  @include min-width($breakpoint-md) {
    padding-top: 2em;
  }
}

.resume-entry__title,
.resume-entry__subtitle {
  margin: 0;
}

.resume-entry__title {
  @include h2();
  grid-column: span 6;

  @include min-width($breakpoint-md) {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}

.resume-entry__subtitle {
  grid-column: span 6;
  font-family: $font-serif;
  font-weight: normal;
  font-style: italic;

  @include min-width($breakpoint-md) {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
}

.resume-entry__date {
  grid-column: span 6;

  @include min-width($breakpoint-md) {
    grid-column: 5 / span 2;
    grid-row: 1;
    justify-self: end;
  }
}

.resume-entry__content {
  grid-column: span 6;
}

// =============================
// Skills list
// =============================
.resume-entry__skillset {
  grid-column: span 6;
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 1 50%;

    @include min-width($breakpoint-md) {
      flex-basis: 25%;
    }
  }
}

// =============================
// Footer
// =============================
.resume__footer {
  padding: 40px 0;
  font-size: 1rem;
  text-align: center;

  .social-links {
    margin-bottom: 1.5rem;
  }
}

.resume__footer-header {
  font-family: $font-serif;
  font-size: 36px;
  margin-bottom: 0.5rem;
  margin-top: 0;
}


// =============================
// PRINT STYLESHEET
// =============================

@media print {
  @page {
    size: auto;
    margin: 0.5cm;
  }

  .resume {
    background: $white;
    font-size: 16px;
    overflow: visible;
  }

  .resume .global-nav {
    display: none;
  }

  .resume__header {
    padding: 1em 0;
  }

  .resume__header h1 {
    grid-column: span 6;
  }

  .resume__header h2 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  .resume__header .email {
    grid-column: 5 / span 2;
    grid-row: 2;
    justify-self: end;
  }

  .resume__header .print {
    display: none;
  }

  .resume__summary {
    border-top: 1px solid $resume-gray-med;
  }

  .resume__body,
  .resume__footer {
    grid-column: edge;
  }

  .resume-section {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .resume-section + .resume-section {
    margin-top: 1em;
  }

  .resume-section__title {
    grid-column: 1;
    grid-row: span 5;
    margin-top: 0;
    font-size: 24px;
    border: none;
  }

  .resume-entry {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .resume-entry + .resume-entry {
    border: none;
    padding-top: 0;
  }

  .resume-entry__title {
    grid-column: 1 / span 4;
    grid-row: 1;
    font-size: 18px;
  }

  .resume-entry__subtitle {
    grid-column: 1 / span 4;
    grid-row: 2;
  }

  .resume-entry__date {
    grid-column: 5 / span 2;
    grid-row: 1;
    justify-self: end;
  }

  .resume-entry__content {
    grid-column: span 6;
  }

  .resume-entry__skillset li {
    flex-basis: 25%;
  }

  .resume__footer {
    display: none;
  }
}
