<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:js(app) /js/script.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/prismjs/prism.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <script type="text/javascript" src="//use.typekit.net/nvf6gkk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    {% include icon-data.svg %}
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="intro-header">
      <h1>jessica eldredge</h1>
      <div class="callout callout-blog">
        <h2>thought scribbles on web design, development &amp; workflow</h2>
      </div>

      <nav class="global-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
      </nav>
    </header>
    <section id="main">
      {{ content }}
    </section>
    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
