<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <script type="text/javascript" src="//use.typekit.net/nvf6gkk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    {% include nav.html %}
    {% include masthead.html %}
    <main id="main" role="main">
      {{ content }}
    </main>
  </body>
</html>
