<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="stylesheet" href="/css/main.css">
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
      {% endfor %}
    {% endif %}

    <script type="text/javascript" src="//use.typekit.net/nvf6gkk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    {% include icon-data.svg %}
    {% include nav.html %}
    <main id="main" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
