<!DOCTYPE html>
<html class="no-js" lang="en" moznomarginboxes mozdisallowselectionprint>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resume.css">

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <script type="text/javascript" src="//use.typekit.net/nvf6gkk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body class="resume">
    {% include icon-data.svg %}
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      {% include nav.html %}

    <header class="resume__header" role="banner">
      <div class="resume__header-inner o-layout o-layout--container">
        <h1>Jessica Eldredge</h1>
        <h2>Front-End Developer</h2>
        <span class="email">jess@eldredge.io</span>
        <div class="print"><a href="jeldredge_resume.pdf" class="btn-print">Print</a></div>
        <div class="resume__summary">I'm an empathetic developer who enjoys building user experiences with HTML, CSS, and JavaScript. I care deeply about people, and collaborating with my teammates to build products that will make users&mdash;and developers!&mdash;happy. As a lifelong learner, I believe in mentorship and fostering respectful environments for sharing knowledge.</div>
      </div>
    </header>
    <main class="resume__body" role="main">
      {{ content }}
    </main>
    <footer class="resume__footer" role="contentinfo">
    <ul class="social-links">
      <li>
        <a href="http://github.com/jessabean">
          <span class="visually-hidden">Github</span>
          <svg class="icon icon-social">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/jessabean">
          <span class="visually-hidden">Twitter</span>
          <svg class="icon icon-social">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="http://dribbble.com/jessabean">
          <span class="visually-hidden">Dribbble</span>
          <svg class="icon icon-social">
            <use xlink:href="#icon-dribbble"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/jeldredge">
          <span class="visually-hidden">LinkedIn</span>
          <svg class="icon icon-social">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="mailto:jessica@eldredge.io">
          <span class="visually-hidden">Email</span>
          <svg class="icon icon-social">
            <use xlink:href="#icon-mail"></use>
          </svg>
        </a>
      </li>
    </ul>
      <h3 class="resume__footer-header">Let's chat!</h3>
      <span class="resume__email">jess@eldredge.io</span>
    </footer>
  </body>
</html>
