* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: $white;
  color: $text_color;
  font-family: $serif;
  font-size: $base_font_size;
  line-height: $base_line_height;
  padding: 0;
  text-align: left;
}

main {
  padding: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  border-bottom: 1px solid $gray-lightest;
  font-family: $sans;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: $sans;
  font-size: 18px;
  font-weight: bold;
}

p {
  line-height: $base_line_height;
  margin-bottom: 32px;
  margin-top: 0;

  @include breakpoint(tablet-sm) {
    margin-bottom: 20px;
  }
}

a {
  color: $link_color;
  position: relative;
  text-decoration-skip: ink;

  &:hover,
  &:focus {
    color: $link_hover_color;
    text-decoration: none;
  }
}

::-moz-selection {
  background: $link_hover_color;
  color: $white;
}

::selection {
  background: $link_hover_color;
  color: $white;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
  text-align: center;

  .post & {
    margin-bottom: 32px;
  }
}

figcaption {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

blockquote {
  margin-left: -$blockquote-offset;
  width: $blockquote-width;
  p {
    font-size: 26px;
    font-style: italic;
    text-align: center;
  }
  @include breakpoint(tablet-sm) {
    font-size: 22px;
    margin: 0;
    width: auto;
  }
}
